<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.salon.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.LoginActivity"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DumDumEnemyChoseActivity"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DunDumGameActivity"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:layoutDirection="ltr" />
        <activity android:name=".activities.RecordTicTacActivity" />
        <activity android:name=".activities.TicTacGameActivity" />
        <activity android:name=".activities.TicTacEnemyChoseActivity"></activity>
    </application>

</manifest>